<!doctype html>
<meta name='viewport' content='width=device-width, initial-scale=0.66'>
<title>{% block title %}{% endblock %}</title>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-annotation/0.5.7/chartjs-plugin-annotation.min.js'></script>
<script src="{{ url_for('static', filename='script.js') }}"></script>
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css'>
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/material-design-icons/3.0.1/iconfont/material-icons.min.css'>
<link rel='stylesheet' href="{{ url_for('static', filename='style.css') }}">
<nav class='navbar navbar-light topbar'>
  <a class='brand' href="{{ url_for('index') }}">My Stocks</a>
  <div class='navbar-nav flex-row'>
    {% if g.user %}
    <a class='nav-link'>{{ g.user['username'] }}</a>
    <a class='nav-link link' href="{{ url_for('auth.setting') }}">Setting</a>
    <a class='nav-link link' href="{{ url_for('auth.logout') }}">Log Out</a>
    {% else %}
    <a class='nav-link link' href="{{ url_for('auth.login') }}">Log In</a></li>
    {% endif %}
  </div>
</nav>
<div class='content'>
  <header>
    {% if request.endpoint != 'auth.login' and request.endpoint != 'auth.setting' %}
    <div class='search'>
      <div class='icon'>
        <i class='material-icons'>search</i>
      </div>
      <input placeholder='Search Stock' id='autocomplete'>
    </div>
    {% endif %}
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
  <div class="alert alert-danger {% if request.endpoint == 'auth.login' %}login{% else %}d-inline-flex{% endif %}">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</div>
<div class='indices'>
  <a id='沪'>
    <span class='full'>上证指数</span>
    <span class='short'>上</span>
    &nbsp;&nbsp;
    <span class='now'>n/a</span>
    &nbsp;&nbsp;
    <span class='change'>n/a</span>
    &nbsp;&nbsp;
    <span class='percent'>n/a</span>
  </a>
  <a id='深'>
    <span class='full'>深证成指</span>
    <span class='short'>深</span>
    &nbsp;&nbsp;
    <span class='now'>n/a</span>
    &nbsp;&nbsp;
    <span class='change'>n/a</span>
    &nbsp;&nbsp;
    <span class='percent'>n/a</span>
  </a>
  <a id='创'>
    <span class='full'>创业板指</span>
    <span class='short'>创</span>
    &nbsp;&nbsp;
    <span class='now'>n/a</span>
    &nbsp;&nbsp;
    <span class='change'>n/a</span>
    &nbsp;&nbsp;
    <span class='percent'>n/a</span>
  </a>
  <a id='中小板'>
    <span class='full'>中小板指</span>
    <span class='short'>中</span>
    &nbsp;&nbsp;
    <span class='now'>n/a</span>
    &nbsp;&nbsp;
    <span class='change'>n/a</span>
    &nbsp;&nbsp;
    <span class='percent'>n/a</span>
  </a>
</div>
<script>
  $(function () {
    update_indices();
    setInterval(function () {
      update_indices(ct=true);
    }, 30000);
  });
  $("#autocomplete").autocomplete({
    source: function (request, response) {
      $.get('/suggest', {
        keyword: request.term
      }, function (data) {
        if (!data.length) {
          response(['No matches found.']);
        } else {
          response($.map(data, function (item) {
            return item.category + ':' + item.code + ' ' + item.name + ' ' + item.type;
          }));
        };
      });
    },
    select: function (event, ui) {
      if (ui.item.value == 'No matches found.') {
        event.preventDefault();
      } else {
        var stock = ui.item.value.split(' ')[0].split(':');
        window.location.replace('/' + stock[0] + '/' + stock[1]);
      };
    },
    minLength: 2,
    autoFocus: true,
    position: {
      of: '.search'
    }
  });
</script>
